* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  line-height: 1.8em;
  background-color: #344a72;
 
}




.container {
  margin: 50px auto;
  width: 60%;
  padding: 20px;
  display: flex;
 
}

.left {
  border-radius: 5px;
  background-color: white;
  width: 350px;
  height: 420px;
  margin-right: 10px;
}


.right {
  border-radius: 5px;
  background-color: #f2f2f2;
  width: 500px;
  height: auto;
  margin: 0 auto;
}

.contactlist {
  display: flex;
 
}


/****form*****/

.form-wrap {
  padding: 15px 25px;
}


.form-wrap h1,
.form-wrap p {
  text-align: center;
}

.form-group {
  margin-top: 15px;
  
}

.form-group label{
  display: block;
  font-size: 20px;
  color: black;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.form-group input:focus {
  background-color: #f2f2f2;
  border: 2px solid #49c1a2;
  outline: none;
}


.btn {
  padding: 10px;
  text-transform: uppercase;
}

.form-wrap button {
  width: 100%;
  margin-top: 30px;
  background: #49c1a2;
  cursor: pointer;
  color: white;      
  border: 1px solid #26836b;
  border-radius: 5px;
}

.form-wrap button:hover {
  background: #37a08e;
}



/****Table****/

.right h1{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.table-wrap {
  height: auto;
  margin: 10px;
}


.contacts {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  padding: 5px 5px;
  background-color: #ffffff;
  box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
  border-radius: 3px;
}



.btn-edit{
  margin-right: 4px;
  background-color:  #49c1a2;
  border: 1px solid #26836b;
  padding: 5px;
  margin: 2px 5px;
  border-radius: 4px;
}

.btn-delete{
  margin-right: 4px;
  background-color:#f44336;
  border: 1px solid black;
  padding: 5px;
  margin: 2px 5px;
  border-radius: 4px;
}




//***Contact Page****//




